/Bot.class
/BotTest.class
/ConsoleEntryPoint.class
/Death.class
/Event.class
/Pet.class
/Texts.class
/cityes.class
/nj.class
/Button.class
/CheckCommand.class
/CleanCommand.class
/Command.class
/DeathEvent.class
/Dialog.class
/DialogName.class
/FeedCommand.class
/HealthCommand.class
/MainDialog.class
/Reply.class
/ShowCommandsCommand.class
/SleepCommand.class
/StartDialog.class
/TelegramEntryPoint.class
/ToiletCommand.class
/TrainingDialog.class
/UserData.class
/TrainDialog.class
